body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;

}

#box2{
    width: 73vw;
    height: 33vh;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    position:fixed;
    left: 0vh;
    bottom: 0vh;
    background-color: mediumvioletred;
}

#box3{
position: sticky;
border-style: solid;
border-radius:3px;
width: 73vw;
height: 175vh;
border-radius: 10px;
background-color: orangered;

}

#text1{
    left:110%;
    top:200px;
    position: relative;
}

#text2{
    /* left:0px;
    bottom:0px;
    position: fixed;*/
    
    position: absolute;
    top:27vh; 
}

#text3{
    top:0px;
    position: sticky;
    font-size:50px;
}
