body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    
    /* text-align: center; */
  }

form, p{
    text-align:center;
    font-size: 1.8rem;
    color: white;
}
/* .reset-button{
    align-content: space-between;
}

.random-button{
    align-content: space-between;
}


.submit-button{
    align-content:space-between;
}  */

#binaryDisplay{ 
    text-align:center;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    height: 10%;
}
   

.output0{
    display:inline;
    border: 2px solid white;
    padding: 2px;
}

.output1{
    display:inline;
    border: 2px solid white;
    padding: 2px;
}

.output2{
    display:inline;
    border: 2px solid white;
    padding: 2px;
}

.output3{
    display:inline;
    border: 2px solid white;padding: 2px;
}

.output4{
    display:inline;
    border: 2px solid white;
    padding: 2px;
}

.output5{
    display:inline;
    border: 2px solid white;
    padding: 2px;
}

.output6{
    display:inline;
    border: 2px solid white;
    padding: 2px;

}


.output7{
    display:inline;
    border: 2px solid white;
    padding: 2px;

}